/* body {
  direction: rtl;
} */
/* 
.container {
  direction: rtl;
  margin: 0 auto;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  margin-right: 10px;
}
